@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/desert.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    margin: 10px 0;
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

.mobile-overlay-container {
    width: 720px;
    height: 480px;
    position: relative;
}

.start-screen {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#init-btn-container {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
}

.start-btn {
    cursor: pointer;
    background-color: gold;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 2;
}

.restart-btn {
    cursor: pointer;
    background-color: gold;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 3;
}

.start-btn:hover {
    background-color: rgba(255, 217, 0, 0.751);
}

.end-screen-lost {
    animation-name: slowTransition;
    animation-duration: 4s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.end-screen-won {
    animation-name: slowTransition;
    animation-duration: 4s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.hud {
    width: 95%;
    margin: 0 18px;
    position: absolute;
    bottom: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.fullscreen-img {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.expand-img {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.move-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#btn-explanation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.direction {
    display: flex;
    align-items: center;
}

.direction-img {
    height: 30px;
    width: auto;
}

.move {
    margin-left: 10px;
}

@keyframes slowTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    body {
        justify-content: center;
        height: 100%;
    }
    #title {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    body {
        justify-content: center;
        height: auto;
    }
    canvas {
        width: 100%;
    }
    .mobile-overlay-container {
        height: 100%;
        width: 100%;
    }
    #init-btn-container {
        top: 40px;
    }
    .hud {
        margin: 0 10px;
    }
    .move-btn {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 540px) {
    canvas {
        width: 100%;
    }
    .mobile-overlay-container {
        height: 100%;
        width: 100%;
    }
    #init-btn-container {
        top: 25px;
    }
    .start-btn {
        padding: 5px 15px;
    }
    .restart-btn {
        padding: 5px 15px;
    }
    .move-btn {
        width: 30px;
        height: 30px;
    }
    /* #btn-explanation {
        bottom: 5px;
    } */
    .direction-img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    canvas {
        width: 100%;
    }
    .hud {
        display: flex;
    }
    #btn-explanation {
        display: none;
    }
    #init-btn-container {
        height: 30px;
        top: 15px;
    }
    .move-btn {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 380px) {
    canvas {
        width: 100%;
    }
    .start-btn {
        padding: 5px 10px;
    }
    .restart-btn {
        padding: 5px 10px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }
    .mobile-overlay-container {
        width: 100%;
        height: 100%;
    }
    .hud {
        display: flex;
    }
    #btn-explanation {
        display: none;
    }
    .move-btn {
        height: 40px;
        width: 40px;
    }
}